#background-section {
    background-image: url('https://img.freepik.com/premium-vector/realistic-green-3d-gaming-background-with-deep-shadow-texture_266878-240.jpg');
    background-size: cover;
    height: 45vh;
    display: flex;
    align-items: end;
    padding-bottom: 20px;

    .container{
        .row{
            .col{
                h1{
                    font-size: 60px;
                }
            }
        }
    }
}